@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply h-screen;
  background-color: #DCE1DE;
}
html{
  @apply h-full w-full
}

.logoColor{
  @apply font-bold bg-clip-text;
  background-image: linear-gradient(45deg, #49A078, #9CC5A1);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #1F2421;
  -webkit-text-stroke-width: .25px;
}
.lazy__slide{
  @apply h-full rounded-md bg-pink-500;
}